{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'chatbot/style.css' %}">
    <title>AIVLE Chat</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div id="back-button" class="back-button">
                <em>
                    <i></i><i></i><i></i><i></i><i></i><i></i>
                </em>
                <span>Main</span>
            </div>
            <div id="admin-button" class="back-button">
                <em>
                    <i></i><i></i><i></i><i></i><i></i><i></i>
                </em>
                <span>Admin</span>
            </div>
            <h3>Chatbot</h3>
        </div>

        <div class="chat-container">
            <div id="chat-log"></div>
            <div class="chat-box" id="typingIndicator">
                <div class="icon" id="user-icon">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="user">.....</div>
            </div>
        </div>
        <div class="faq-container" id="faqContainer">
            <div class="faq-card" data-question="에이블 스쿨의 나이 제한은 어떻게 되나요?">
                <div>
                    <i class="fas fa-light fa-pen"></i>
                    <p>에이블 스쿨의 나이 제한은 어떻게 되나요?</p>
                </div>
            </div>
            <div class="faq-card" data-question="에이블 스쿨에 참여하기 위한 비용이 드나요?">
                <div>
                    <i class="fas fa-light fa-pen"></i>
                    <p>에이블 스쿨에 참여하기 위한 비용이 드나요?</p>
                </div>
            </div>
            <div class="faq-card" data-question="에이블 스쿨 참여 지역은 어떻게 되나요?">
                <div>
                    <i class="fas fa-light fa-pen"></i>
                    <p>에이블 스쿨 참여 지역은 어떻게 되나요?</p>
                </div>
            </div>
            <div class="faq-card" data-question="에이블 스쿨 커리큘럼은 어떻게 나뉘어 있나요?">
                <div>
                    <i class="fas fa-light fa-pen"></i>
                    <p>에이블 스쿨 커리큘럼은 어떻게 나뉘어 있나요?</p>
                </div>
            </div>
        </div>

        <div class="input-container">
            <input type="text" id="user-input" placeholder="메시지를 입력하세요.">
            <button id="send-button">
                <i class="fa-solid fa-paper-plane" id="button-icon"></i>
            </button>
            <button id="refresh-button">
                <i class="fa-solid fa-sync" id="refresh-icon"></i>
            </button>
        </div>
    </div>
    <script src="{% static 'chatbot/script.js' %}"></script>
</body>
</html>